<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tack</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="container">
        <form action="/add" method="post" class="from">
            <input type="text" name="tack" autocomplete="off">
            <div class="btn-group">
                <input type="submit" value="Enviar">
                <input type="reset" value="Cancelar">
            </div>
        </form>

        <ul>
            <% tacks.map(function(tack){%>
                
                <li>
                    <p>
                        <%= tack.tack %>
                    </p>                          
                    <a href="<%= tack._id %>/delete">Eliminar</a>
                </li>
            <% }) %>
        </ul>
    </div>
        
</body>
</html>